<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg Health CSV Uploader</title>
    <link rel="shortcut icon" href="https://play-lh.googleusercontent.com/H5fQeSfsZAZiS_qAdpJWaq2_uKZxMGDJ7RzQgEXEaWHlzJnrz00dj0eJOyIvgdwcMg"  type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
        
</head>

<body class="mb-5">
    <nav class="navbar navbar-expand-sm bg">
        <div class="container-fluid">
            <div class="fs-2 col-auto ">
                <img id="logo" src="https://play-lh.googleusercontent.com/H5fQeSfsZAZiS_qAdpJWaq2_uKZxMGDJ7RzQgEXEaWHlzJnrz00dj0eJOyIvgdwcMg" onerror="this.onerror=null; this.src='/images/logo.png'" alt="">CSV UPLOADER
            </div>
            <% if(locals.homeLink  ) {%>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <% } %>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto me-4">
                    <% if(locals.homeLink) {%>
                        <a class="nav-link hover-text rounded-3 ms-4" aria-current="page" href="/">HomePage</a>
                        
                        <a class="nav-link hover-text rounded-3 ms-4" aria-current="page" href="/download">Download File</a>
                    <% } %>
                    <% if(locals.projectLink) {%>
                        <a class="nav-link hover-text rounded-3" aria-current="page" href="/projects/<%=projectID%>">Back To
                            Project
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
